.recipe-post {
  min-width: 250px;
  width: 250px;
  height: 350px;
  background: colors(bg);
  margin: 0 20px;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  justify-self: center;

  &:hover {
    cursor: pointer;
  }

  .thumbnail {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-image: linear-gradient(to bottom, transparent, white);
    }

    .fav-icon {
      $size: 40px;
      width: $size;
      height: $size;
      background: colors(p);
      border-radius: $size;
      position: absolute;
      top: 10px;
      right: 10px;

      i {
        color: colors(bg);
      }
    }

    .data-title {
      position: absolute;
      bottom: 10px;
      width: 100%;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      color: #FF5722;
    }
  }

  .description {
    height: 50px;
    line-height: 27px;
    color: #616161;
  }

  .data {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
    color: colors(s);
    font-size: 14px;
    opacity: .6;

    &>div {
      width: 50%;
      height: 60px;
      display: flex;
      align-items: center;
    }


    .icon {
      display: flex;

      i {
        font-size: 16px;
      }
    }
  }

}
