@import "./variables";
@import "./default";

@include mobile() {}

body {
  width: 100%;
  height: 100%;
  background: colors(bg);

  display: grid;
  grid-template-areas:
    "nav header header"
    "nav container profile";
  grid-template-columns: 280px 1fr;
  grid-template-rows: 80px 1fr;

  header {
    grid-area: header;
    width: 100%;
    height: $header_height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0 20px;

    .search {
      width: 300px;
      height: 35px;
      position: relative;

      input {
        width: 100%;
        height: 100%;
        position: absolute;
        outline: none;
        top: 0;
        left: 0;
        z-index: 1;
        border: none;
        padding-right: 35px;
        color: colors(black-thin);
      }

      .icon {
        position: absolute;
        z-index: 2;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: colors(black-thin)
        }
      }

    }

    button {
      width: fit-content;
      padding: 8px 10px;
      border: none;
      border-radius: 4px;
      background: colors(secounder);
      color: #fff;
    }
  }

  aside.nav {
    grid-area: nav;
    height: 100vh;
    background: #fff;

    nav {
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      $item_height: 50px;

      a {
        width: 100%;
        height: $item_height;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        color: colors(black-thiner);
        user-select: none;
        transition: all linear .1s;

        &.active {
          color: colors(black);
          border-left: 2px solid colors(main);
          font-size: 20px;

          span {
            font-size: 35px;
            color: colors(main)
          }
        }

        span {
          width: $item_height;
          height: $item_height;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;
        }

        p {
          padding-left: 10px;
        }

        &:hover {
          border-left: 2px solid colors(main);

          p,
          i {
            color: colors(main)
          }
        }
      }
    }
  }

  section.container {
    grid-area: container;
    position: relative;
    padding: 20px;

    .filter {

      select {
        width: 120px;
        border-radius: 4px 4px 0 0;
        cursor: pointer;
        padding: 4px;
      }
    }

    .add {
      $main-color: colors(secounder);
      $size: 100px;
      position: absolute;
      bottom: 20px;
      left: 20px;
      width: $size;
      height: $size;
      border-radius: $size;
      background: $main-color;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: all linear .1s;

      &:hover {
        border: 2px solid $main-color;
        background: white;
        color: $main-color;
        animation-name: rubberBand;
      }

      span {
        font-size: 45px;
      }
    }
  }

  #data-container {
    width: 100%;
    border: 1px solid colors(black-thiner);
    border-radius: 4px;
    background: white;
    padding: 0 20px;
    margin-top: 40px;

    .status {
      width: 100%;
      height: 65px;
      border-bottom: 1px solid colors(black-thiner);
      margin-bottom: 20px;

      nav {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        a {
          margin-right: 45px;
          color: colors(black-thin);
          height: 100%;
          display: flex;
          align-items: center;

          &.active {
            color: black;
            border-bottom: 2px solid colors(blue)
          }
        }
      }
    }

    .search {
      width: 100%;
      $search_height: 45px;
      height: $search_height;
      display: flex;
      align-items: center;
      border: 1px solid colors(black-thiner);
      margin-bottom: 20px;

      .filter {
        width: fit-content;
        height: 100%;
        background: #ccc;

        select {
          width: 100%;
          height: 100%;
          padding: 10px 2px;
          border: 1px solid #ccc;
          border-radius: 2px;
          outline: none;
          color: colors(black);
          background: #f8f8f8;
          font-size: 14px;
          font-family: 'Montserrat', serif;
          cursor: pointer;

          option {
            color: colors(black-thin);
          }
        }
      }

      .search-input {
        width: calc(100% - 140px);
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;

        .search-icon {
          width: $search_height;
          height: $search_height;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        input {
          width: 100%;
          height: 100%;
          border: none;
          padding-left: 35px;
        }
      }
    }

    .data-table {
      width: 100%;

      table {
        width: 100%;
        border-spacing: 0;

        tr {
          height: 60px;
          border-bottom: 1px solid #646464;

          &.data-item:hover {
            background-color: #ECEFF1;
            cursor: pointer;
            transition: all linear .2s;
          }

          input[type="checkbox"] {
            width: 20px;
            height: 20px;
          }

          .select {
            width: 80px;
            height: fit-content;
            border: 1px solid #9ca0b1;
            border-radius: 4px;
            position: relative;

            .drop {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 4px;
              background: #f7f7f7;

              input {
                width: 22px;
                height: 22px;
              }

              i {
                font-size: 35px;
                cursor: pointer;
              }
            }

            .actions {
              display: none;
              position: absolute;
              border: 1px solid #9ca0b1;
              border-radius: 0 0 4px 4px;
              width: 80px;
              background: #fff;

              .item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 35px;

                &:hover {
                  background: #2196F3;
                  color: #fff;
                  cursor: pointer;
                }
              }
            }
          }

          th {
            font-weight: bold;
            color: #424242;

            &:first-of-type {
              width: 80px;
            }

            &:nth-of-type(2) {
              width: 80px;
              height: 80px;
            }
          }

          td {
            text-align: center;
            color: colors(black);

            &:nth-of-type(2) {
              width: 80px;
              height: 80px;

              img {
                max-width: 100%;
                max-height: 100%;
              }
            }

            .statu {
              width: fit-content;
              padding: 4px 10px;
              border-radius: 35px;
              margin: 0 auto;

              &[data-statu="public"] {
                background: #00bef8;
                color: #fff;
              }

              &[data-statu="private"] {
                background: #F9C434;
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
}
